<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Acciones</a>
  </div>
</nav>

<form [formGroup]="form">
  <div class="container">
    <div class="card mt-4">
      <h4 class="card-title text-center">Detalle de Acciones</h4>
      <div class="row p-2">
        <div class="col">
          <label for="basic-form-2"><strong>Acciones</strong></label>
        <select class="form-select" formControlName="stockId" aria-label="Default select example">
          <option [ngValue]="null" disabled>Seleccione</option>
          <option *ngFor="let code of codes" [value]="code.id">{{code.name}}</option>
        </select>
        </div>
      </div>

        <div class="row p-2">
          <div class="col">
            <div class="form-group">
              <label for="basic-form-2"><strong>Fecha Desde</strong></label>
              <input type="date" lang="es-CL" formControlName="dateStart" [max]="now" class="form-control">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="basic-form-2"><strong>Fecha Hasta</strong></label>
              <input type="date" lang="es-CL" formControlName="dateEnd" [max]="now" class="form-control">
            </div>
          </div>
          <div class="d-grid gap-2 mt-4 mb-4">
            <span *ngIf="dateAlert" class="text-danger text-center">La fecha <strong>Desde</strong> no puede ser mayor que la fecha <strong>Hasta</strong> o iguales</span>
            <span *ngIf="errorMsg" class="text-danger text-center">Lo siento hubo un error :(</span>
            <button class="btn btn-primary" (click)="getStocks()" [disabled]="!form.get('stockId').value" type="button">Buscar entre Fechas</button>
          </div>
         
        </div>
    
      <div class="card-body">
        <div class="container table-scroll">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Valor (USD)</th>
              </tr>
            </thead>
            <tbody *ngIf="dataStock">
              <tr *ngFor="let stock of dataStock.data; let i=index">
                <th scope="row">{{i}}</th>
                <td>{{stock.date | date:"dd-MM-yyyy":"+0000"}}</td>
                <td>{{stock.close | currency:'USD':true}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row p-2">
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Ganancias</h5>
              <h3 *ngIf="dataStock" class="text-center">%{{dataStock.calcProfits | number : '1.2-2' }}</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Rendimiento Anualizado</h5>
              <h3 *ngIf="dataStock" class="text-center">%{{dataStock.calcAnnualized | number : '1.2-2' }}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-2">
        <div class="col">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Buscar Valor Fecha</h5>

              <div class="row p-2">
                <div class="col">
                  <div class="form-group">
                    <label for="basic-form-2"><strong>Fecha</strong></label>
                    <input type="date" lang="es-CL" formControlName="date" [max]="now" class="form-control">
                  </div>
                </div>
                <div class="d-grid gap-2 mt-4 mb-4">
                  <button class="btn btn-primary" (click)="getStock()" [disabled]="!form.get('stockId').value" type="button">Buscar por Fecha</button>
                </div>
              </div>
              <span *ngIf="errorMsg2" class="text-danger text-center">Lo siento hubo un error :(</span>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Valor (USD)</th>
                  </tr>
                </thead>
                <tbody *ngIf="stock">
                  <tr>
                    <th scope="row">1</th>
                    <td>{{stock.date | date:"dd-MM-yyyy":"+0000"}}</td>
                    <td>{{stock.close | currency:'USD':true}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</form>
